/* Text on white color */
.code_main_container,
.code_main_container--pre {
  margin-top: 20px;
}

@media only screen and (max-width: 1200px) {
  .code_main_container,
  .code_main_container--pre {
    width: 100%;
  }
}

.code_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.7rem;
}

@media only screen and (max-width: 1200px) {
  .code_container {
    font-size: .75rem;
    line-height: 22.5px;
  }
}

@media only screen and (max-width: 768px) {
  .code_container {
    line-height: 20.25px;
  }
}

@media only screen and (max-width: 480px) {
  .code_container {
    line-height: 18px;
  }
}

.code {
  padding-top: 10px;
  width: 100%;
}

.code_main_container--pre .code {
  width: auto;
  padding-right: 10px;
}

.code_main_container--pre .code_gutter {
  padding-right: 0;
  width: 30px;
}

.code_gutter {
  width: 50px;
  font-family: monospace;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  counter-reset: line;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #181e34;
}

@media only screen and (max-width: 768px) {
  .code_gutter {
    width: 35px;
  }
}

.code_gutter span {
  line-height: 1.09rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 1200px) {
  .code_gutter span {
    font-size: .75rem;
    line-height: 22.5px;
  }
}

@media only screen and (max-width: 768px) {
  .code_gutter span {
    line-height: 20.25px;
  }
}

@media only screen and (max-width: 480px) {
  .code_gutter span {
    line-height: 18px;
  }
}

.code_gutter span:before {
  counter-increment: line;
  content: counter(line);
  color: #a5a5a5;
}

.code_topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #080a11;
  color: #c7c7c7;
}

.code_topBar_tab,
.code_topBar_tab--active {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 0.6rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.code_topBar_tab--active {
  color: whitesmoke;
  background-color: #181e34;
}

/* Scroll bar */
.documentation_container ::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  outline: none;
}

.documentation_container ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

.documentation_container ::-webkit-scrollbar-thumb {
  background: rgba(24, 30, 52, 0.2);
  border: 0px none #ffffff;
  border-radius: 0px;
}

.documentation_container ::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

.documentation_container ::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 0.4);
  outline: none;
}

.documentation_container ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border: 0px none #ffffff;
  border-radius: 0px;
}

.documentation_container ::-webkit-scrollbar-track:active {
  outline: none;
}

.documentation_container ::-webkit-scrollbar-corner {
  background: transparent;
}

/* One Dark */
code[class*="language-"],
pre[class*="language-"] {
  color: white;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #404b5f;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #9aa2b1;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #181e34;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #5C6370;
}

.token.punctuation {
  color: #abb2bf;
}

.token.selector,
.token.tag {
  color: #e06c75;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
  color: #d19a66;
}

.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
  color: #98c379;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #56b6c2;
}

.token.atrule,
.token.keyword {
  color: #c678dd;
}

.token.function {
  color: #61afef;
}

.token.regex,
.token.important,
.token.variable {
  color: #c678dd;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
/*# sourceMappingURL=Code.css.map */