/* Text on white color */
.DLEditor_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.react-codemirror2,
.CodeMirror {
  height: 100% !important;
}

.CodeMirror {
  font-size: 0.9rem;
  line-height: 1.3em;
  color: white !important;
}

.editor_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.editor {
  width: 100%;
  padding-bottom: 30px;
  overflow: hidden;
}

.editor_full {
  height: 100vh;
  overflow: hidden;
}

.Pane2 {
  overflow-y: scroll;
}

.editor_tabs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
}

.editor_tabs-material {
  background-color: #1c2429;
}

.material:hover,
.material--active:hover {
  background-color: #304047;
}

.material {
  background-color: #1c2429;
}

.material--active {
  background-color: #263238;
}

.editor_tab,
.editor_tab--active {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.editor_tab {
  color: #818181;
}

.editor_tab--active {
  color: white;
}

.editor_button {
  color: white;
  margin-left: auto;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.cm-s-material .CodeMirror-activeline-background {
  background-color: #304047 !important;
}

/* RESIZER */
.Resizer {
  opacity: 1;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 5px;
  cursor: row-resize;
  width: 100%;
}

.Resizer.disabled {
  cursor: not-allowed;
}

.Resizer.disabled:hover {
  border-color: transparent;
}

.splitPane--material {
  background-color: #11171a;
}

/* SCROLLBAR */
.CodeMirror ::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  outline: none;
}

.CodeMirror ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

.CodeMirror ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border: 0px none #ffffff;
  border-radius: 0px;
}

.CodeMirror ::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

.CodeMirror ::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 0.4);
  outline: none;
}

.CodeMirror ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border: 0px none #ffffff;
  border-radius: 0px;
}

.CodeMirror ::-webkit-scrollbar-track:active {
  outline: none;
}

.CodeMirror ::-webkit-scrollbar-corner {
  background: transparent;
}

.CodeMirror-vscrollbar {
  outline: none;
}

.CodeMirror-vscrollbar:active {
  outline: none;
}
/*# sourceMappingURL=DLEditor.css.map */