/* Text on white color */
.sidenav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100vh;
  z-index: 3;
  background-color: white;
  position: fixed;
  width: 22%;
  left: 0;
}

@media only screen and (max-width: 1200px) {
  .sidenav_container {
    width: 225px;
  }
}

@media only screen and (max-width: 768px) {
  .sidenav_container {
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    position: fixed;
    width: 250px;
    top: 0;
    -webkit-transition: 0.4s -webkit-transform;
    transition: 0.4s -webkit-transform;
    transition: 0.4s transform;
    transition: 0.4s transform, 0.4s -webkit-transform;
  }
}

@media only screen and (max-width: 768px) {
  .sidenav_container--show {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.sidenav {
  border-right: 1px solid #E9E9E9;
  width: 225px;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
}

@media only screen and (max-width: 1200px) {
  .sidenav {
    width: 200px;
  }
}

.sidenav_toggle {
  display: none;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .sidenav_toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .sidenav_toggle {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.sidenav_toggle img {
  height: 30px;
  cursor: pointer;
}

.sidenav h3,
.sidenav h2 {
  font-family: "Roboto SLab", sans-serif;
}

.sidenav p {
  font-family: "Roboto", sans-serif;
}

.sidenav img {
  width: 125px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.sidenav_content {
  overflow: hidden;
}

.sidenav_content:hover {
  overflow-y: auto;
}

@media only screen and (max-width: 1200px) {
  .sidenav_content {
    overflow-y: scroll;
  }
}

.sidenav_content h2 {
  font-size: 1.4rem;
  color: #2c2c2c;
}

.sidenav_content ul {
  margin-top: 40px;
}

.sidenav_content h3 {
  color: #4e4e4e;
}

.sidenav_content h3,
.sidenav_content ul li p {
  font-size: 0.85rem;
  cursor: pointer;
}

.sidenav_content ul,
.sidenav_content ul li {
  margin-bottom: 30px;
}

.sidenav_content ul li p {
  margin-top: 12px;
  color: #747474;
}

.sidenav_content h3.sidenav--active {
  color: black !important;
}

.sidenav_content p.sidenav--active {
  color: #F2799C !important;
}

.sidenav_back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4e4e4e;
  font-size: 0.8rem;
  position: absolute;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

.sidenav_back_arrow {
  color: #4e4e4e;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  margin-right: 5px;
}

/* Scroll bar */
.sidenav_container ::-webkit-scrollbar {
  width: 3px;
  height: 6px;
}

.sidenav_container ::-webkit-scrollbar-thumb:active {
  background: #161616;
}

.sidenav_container ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

.sidenav_container ::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 0px;
}

.sidenav_container ::-webkit-scrollbar-track {
  background: #F5FAFF;
  border: 0px none #ffffff;
  border-radius: 0px;
}

.sidenav_container ::-webkit-scrollbar-corner {
  background: transparent;
}

@media only screen and (max-width: 1200px) {
  .sidenav_container ::-webkit-scrollbar {
    width: 12px;
    height: 6px;
  }
}
/*# sourceMappingURL=SideNav.css.map */