/* Text on white color */
.timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 100px;
  position: relative;
}

.timeline_item {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  height: 100px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1200px) {
  .timeline_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.timeline_item_marker {
  background-color: #2c2c2c;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -1px;
}

.timeline_item_left .timeline_item_marker {
  -webkit-clip-path: polygon(50% 0, 0 0, 0 50%);
          clip-path: polygon(50% 0, 0 0, 0 50%);
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.timeline_item_right .timeline_item_marker {
  -webkit-clip-path: polygon(100% 0, 50% 0, 100% 50%);
          clip-path: polygon(100% 0, 50% 0, 100% 50%);
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.timeline_item_left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-right: 1px solid #2c2c2c;
}

@media only screen and (max-width: 1200px) {
  .timeline_item_left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.timeline_item img {
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media only screen and (max-width: 1200px) {
  .timeline_item img {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .timeline_item img {
    width: 100%;
  }
}

.timeline_item_content {
  padding: 20px;
}

@media only screen and (max-width: 1200px) {
  .timeline_item_content {
    width: 100%;
  }
}

.timeline_item_content button {
  background-color: #e1d1ff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Roboto Slab", sans-serif;
  margin-top: 10px;
  cursor: pointer;
}

.timeline_item_content button:focus {
  outline: none;
}

@media only screen and (max-width: 1200px) {
  .timeline_item_content button {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.timeline_item_content h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.timeline_item h3 {
  padding: 30px;
  font-family: "Source Code Pro", sans-serif;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1200px) {
  .timeline_item h3 {
    padding: 10px;
  }
}

.timeline_item_right h3 {
  margin-left: auto;
}

@media only screen and (max-width: 1200px) {
  .timeline_item_right h3 {
    margin: 0;
  }
}

.timeline_item_left h3 {
  margin-right: auto;
}

@media only screen and (max-width: 1200px) {
  .timeline_item_left h3 {
    margin: 0;
  }
}

.timeline_item_left {
  right: 50%;
  margin-right: 20px;
  border-radius: 10px 0 0 10px;
}

.timeline_item_right {
  left: 50%;
  margin-left: 20px;
  border-radius: 0 10px 10px 0;
  border-left: 1px solid #2c2c2c;
}

.timeline_item_stacked--odd {
  background-color: #bbbbbb;
  border: none;
}

.timeline_item_stacked--even {
  background-color: #dbdbdb;
  border: none;
}
/*# sourceMappingURL=Timeline.css.map */