$purple: rgb(225, 209, 255);
$darkGray: #2c2c2c;
$lightGray: #4e4e4e;
$borderColor: #E9E9E9;

/* Text on white color */
$redOnWhite: #D5154C;

$materialBG: #263238;

@mixin desktop-down() {@media only screen and (max-width: 1200px) { @content; }}

@mixin tablet-down() {@media only screen and (max-width: 768px) { @content; }}

@mixin phone-down() {@media only screen and (max-width: 480px) { @content; }}

@mixin border() {
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
}