@import "_variables";

.media {
    width: 1150px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
}

.media button {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: "Roboto Slab", sans-serif;
    font-size: 0.8rem;
    @include border;
    background-color: $purple;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.media_content {
    display: flex;
    height: 300px;
}

.media_content_image_container {
    height: 100%;
}

.media_content_image_container img {
    height: 100%;
}

.media_text {
    padding: 30px;
    height: 100%;
    border-bottom: 1px solid rgb(221, 221, 221);
    display: flex;
    flex-direction: column;
}

.media_text h1 {
    font-family: "Roboto Slab", sans-serif;
}

.media_text p {
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    line-height: 1.3em;
}

.media_text_bottom {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    font-family: "Roboto", sans-serif;
}

.media_cast_container {
    margin-top: 30px;
    width: 100%;
}

.media_cast_container h2 {
    font-family: "Roboto Slab", sans-serif;
}

.media_cast {
    margin-top: 20px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(6, 1fr);
}

.media_person p {
    font-family: "Roboto Slab", sans-serif;
    color: $darkGray;
    margin-top: 10px;
}

.media_person_image_container img {
    @include border;
    border-radius: 10px;
    width: 100%;
}