@import "_variables";

.notification_editorSaved {
    background-color: white !important;    
    font-family: "Roboto Slab", serif;
    font-weight: bold;    
    border-top: 4px solid $purple;

    .Toastify__close-button {
        color: $darkGray;
    }
}

.notification_editorSaved_body {
    color: $darkGray;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

.notification_editorSaved_progress {
    background-color: $darkGray !important;
}

.Toastify__toast-container {
    width: auto !important;
}

.Toastify__toast--error {
    border-top: 4px solid $red;
}

.notification_error {
    font-family: "Roboto", sans-serif;
    background-color: white !important;
    color: $darkGray;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 500px !important;
    z-index: 100;

    .Toastify__close-button {
        color: $darkGray;
    }

    @include tablet-down() {
        width: 480px !important;
    }

    @include phone-down() {
        width: 90% !important;
    }
}



.notification_error_progress {
    background-color: $darkGray !important;
}

.notification_error p {
    margin-bottom: 10px;
}

.notification_error .error_message {
    font-size: 1.2rem;
    line-height: 1.3em;
}

.notification_error .error_code {
    font-size: 0.7rem;
}