@import "_variables";

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    position: relative;
}

.timeline_item {
    background-color: rgb(255, 255, 255);
    @include border;
    position: relative;
    height: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.timeline_item_marker {
    background-color: $darkGray;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -1px;
}

.timeline_item_left .timeline_item_marker {
    clip-path: polygon(50% 0, 0 0, 0 50%);
    right: 0;
    transform: translateX(100%);
}

.timeline_item_right .timeline_item_marker {
    clip-path: polygon(100% 0, 50% 0, 100% 50%);
    left: 0;
    transform: translateX(-100%);
}

.timeline_item_left {
    flex-direction: row-reverse;
    border-right: 1px solid $darkGray;
}

.timeline_item img {
    height: 100%;
    user-select: none;
}

.timeline_item_content {
    padding: 20px;
}

.timeline_item_content button {
    background-color: $purple;
    @include border;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Roboto Slab", sans-serif;
    margin-top: 10px;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.timeline_item_content h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.timeline_item h3 {
    padding: 30px;
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.5rem;
}

.timeline_item_right h3 {
    margin-left: auto;
}

.timeline_item_left h3 {
    margin-right: auto;
}

.timeline_item_left {
    right: 50%;
    margin-right: 20px;
    border-radius: 10px 0 0 10px;
}

.timeline_item_right {
    left: 50%;
    margin-left: 20px;
    border-radius: 0 10px 10px 0;
    border-left: 1px solid $darkGray;
}

.timeline_item_stacked--odd {
    background-color: rgb(187, 187, 187);
    border: none;
}

.timeline_item_stacked--even {
    background-color: rgb(219, 219, 219);
    border: none;
}



