.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    position: relative;
}

/* .timeline span {
    position: absolute;
} */

.timeline_item_right,
.timeline_item_left {
    background-color: white;
}

.timeline_item_left {
    border: 1px solid red;
    right: 50%;
    margin-right: 20px;
}

.timeline_item_right {
    border: 1px solid green;
    left: 50%;
    margin-left: 20px;
}

.timeline_item_stacked--odd {
    background-color: red;
}

.timeline_item_stacked--even {
    background-color: blue;
}



/* TIMELINE RANGE SLIDER */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 1.9px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 25.2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #e1d1ff;
  border-radius: 25px;
  border: 0px solid #000001;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  height: 29px;
  width: 50px;
  border-radius: 50px;
  background: #2c2c2c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1.9px;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 25.2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #e1d1ff;
  border-radius: 25px;
  border: 0px solid #000001;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  height: 29px;
  width: 50px;
  border-radius: 50px;
  background: #2c2c2c;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 25.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #d0b7ff;
  border: 0px solid #000001;
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #e1d1ff;
  border: 0px solid #000001;
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  height: 29px;
  width: 50px;
  border-radius: 50px;
  background: #2c2c2c;
  cursor: pointer;
  height: 25.2px;
}