@import "_variables";

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    position: relative;
}

.timeline_item {
    background-color: rgb(255, 255, 255);
    @include border;
    position: relative;
    height: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.timeline_item_marker {
    background-color: $darkGray;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -1px;
}

.timeline_item_left .timeline_item_marker {
    clip-path: polygon(50% 0, 0 0, 0 50%);
    right: 0;
    transform: translateX(100%);
}

.timeline_item_right .timeline_item_marker {
    clip-path: polygon(100% 0, 50% 0, 100% 50%);
    left: 0;
    transform: translateX(-100%);
}

.timeline_item_left {
    flex-direction: row-reverse;
    border-right: 1px solid $darkGray;
}

.timeline_item img {
    height: 100%;
    user-select: none;
}

.timeline_item_content {
    padding: 20px;
}

.timeline_item_content h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.timeline_item h3 {
    padding: 30px;
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.5rem;
}

.timeline_item_right h3 {
    margin-left: auto;
}

.timeline_item_left h3 {
    margin-right: auto;
}

.timeline_item_left {
    right: 50%;
    margin-right: 20px;
    border-radius: 10px 0 0 10px;
}

.timeline_item_right {
    left: 50%;
    margin-left: 20px;
    border-radius: 0 10px 10px 0;
    border-left: 1px solid $darkGray;
}

.timeline_item_stacked--odd {
    background-color: rgb(187, 187, 187);
    border: none;
}

.timeline_item_stacked--even {
    background-color: rgb(219, 219, 219);
    border: none;
}



/* TIMELINE RANGE SLIDER */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 1.9px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 25.2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #e1d1ff;
  border-radius: 25px;
  border: 0px solid #000001;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  height: 29px;
  width: 50px;
  border-radius: 50px;
  background: #2c2c2c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1.9px;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 25.2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #e1d1ff;
  border-radius: 25px;
  border: 0px solid #000001;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  height: 29px;
  width: 50px;
  border-radius: 50px;
  background: #2c2c2c;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 25.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #d0b7ff;
  border: 0px solid #000001;
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #e1d1ff;
  border: 0px solid #000001;
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  height: 29px;
  width: 50px;
  border-radius: 50px;
  background: #2c2c2c;
  cursor: pointer;
  height: 25.2px;
}